<nav id="buttom-navbar" class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-base-200 border border-gray-200 rounded-full bottom-4 left-1/2">
  <ul class="flex justify-center items-center">
    <li class="mx-2md:flex-grow-0 md:w-1/4 text-center hover:bg-white hover:rounded-3xl">
      <%= link_to root_path do %>
      <button class="group inline-block text-center m-2">
      <i class="fa-solid fa-map-location"></i>
        <p class="icon-text font-Spicyrice"><%= t('btmnav.home') %></p>
      </button>
    <% end %>
    </li>
    <li class="mx-2 md:flex-grow-0 md:w-1/4 md:flex-grow-0 md:w-1/4 text-center hover:bg-white hover:rounded-3xl">
      <%= link_to posts_path do %>
        <button class="group inline-block text-center m-2">
          <i class="fa-solid fa-list fa-xl"></i>
          <p class="icon-text font-Spicyrice"><%= t('btmnav.list') %></p>
        </button>
      <% end %>
    </li>
    <li class="mx-2 md:flex-grow-0 md:w-1/4 text-center hover:bg-white hover:rounded-3xl">
      <%= link_to  do %>
        <button class="group inline-block text-center m-2">
          <i class="custom-icon fa-solid fa-plus fa-xl "></i>
          <p class="icon-text font-Spicyrice "><%= t('btmnav.post') %></p>
        </button>
      <% end %>
    </li>
    <li class="mx-2 md:flex-grow-0 md:w-1/4 text-center hover:bg-white hover:rounded-3xl">
      <%= link_to logout_path, data: { turbo_method: :delete, confirm: '本当にログアウトしますか？' } do %>
        <button class="group inline-block text-center m-2">
          <i class="fa-solid fa-right-from-bracket"></i>
          <p class="icon-text font-Spicyrice"><%= t('btmnav.logout') %></p>
        </button>
      <% end %>
    </li>
  </ul>
</nav>
  

