<header class="fixed top-0 flex justify-between items-center left-0 h-20 p-6 w-full bg-primary z-10">
    <a class="text-2xl font-Spicyrice z-15" href="<%= root_path %>"><%= t('header.title') %></a>
    <!-- ハンバーガーメニュー -->
    <div class="flex items-center">
    <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } , class: 'font-Kaisei text-white bg-blue-700 hover:bg-blue-400 hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 mr-12'%>
    <button id="button" type="button" class=" z-15 top-6 right-6"> <!-- md未満で表示 -->
      <i id="bars" class="fa-solid fa-bars fa-2x"></i>
    </button>
    </div>
    
    <div id="overlay" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden z-20"></div>
    <ul id="menu" class="z-30 fixed top-0 right-[-20rem] w-80 h-full text-center bg-menu font-bold transition-all duration-500 east-in-out flex flex-col items-start p-4">
    <li class='px-4 py-2 w-full text-left hover:bg-gray-500 hover:text-secondary hover:rounded-lg'>
      <%= link_to root_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" class="inline-block mb-1  mr-3">
        <path fill="none" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M12 12a5 5 0 1 0-5-5a5 5 0 0 0 5 5zm0 2c-4.33 0-8 2.17-8 5v1h16v-1c0-2.83-3.67-5-8-5z" class="group-hover:stroke-teal-500" />
        </svg>
        <%= t('header.my_page') %>
      <% end %>
      </li>
      <li class='px-4 py-2  w-full text-left  hover:bg-gray-500 hover:text-secondary hover:rounded-lg '>
        <%= link_to logout_path, data: { turbo_method: :delete } do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline-block mb-1 mr-3"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            <%= t('header.logout') %>
          <% end %>
      </li>
      <li class='px-4 py-2  w-full text-left border-b border-black '>
      <li>
      
      <%= render 'shared/header_list' %>
      
    </ul>
</header>