<header class="flex justify-between items-center left-0 h-20 p-6 w-full bg-primary z-10">
    <a class="text-2xl font-Spicyrice z-50"><%= t('header.title') %></a>
    <!-- ハンバーガーメニュー -->
    <div class="flex items-center">
    <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } , class: 'font-Kaisei text-white bg-blue-700 hover:bg-blue-400 hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 mr-12'%>
    <button id="button" type="button" class=" z-40 top-6 right-6"> <!-- md未満で表示 -->
      <i id="bars" class="fa-solid fa-bars fa-2x"></i>
      <i id="x" class="fa-solid fa-x fa-2x hidden"></i>
    </button>
    </div>
    
    <!-- モバイル用メニュー -->
    <ul id="menu" class="z-30 fixed top-0 left-0 w-full h-full text-center bg-menu font-bold translate-x-full transition duration-500 ease-linear flex flex-col items-start">
    <li class="pt-24 p-3"><%= link_to t('header.post'), class: 'text-lg hover:text-white' %></li>
    <li class="p-3"><%= link_to t('header.list'), posts_path,class: 'text-lg hover:text-white' %></li>
    <li class="p-3"><%= link_to t('header.logout'),logout_path, data:{turbo_method: :delete},class: 'text-lg hover:text-white' %></li>
    </ul>
</header>