<h2 class='text-center mt-4 text-xl'><%= t('.title') %></h2>

<div class="w-5/6 max-w-md mx-auto mt-6 p-4 border rounded-xl shadow-md bg-white">
    <div class="mt-6">
        <div class="card border-2">
            <div class="m-4">

                <div class="flex items-center space-x-4">

                    <div class="flex flex-col items-start">
                        <%# 会員ID %>
                        <div class="flex items-center">
                            <span class="text-sm break-all">
                                <%= t('.user_id') %>
                                <%= @user.id %>
                            </span>
                        </div>

                        <%# ユーザー名 %>
                        <div class="flex items-center mt-4">
                            <i class="fa-solid fa-circle-user"></i>
                            <span class="text-base font-bold break-all ml-2">
                                <%= @user.username %>
                            </span>
                        </div>

                        <%# メール %>
                        <div class="flex items-center mt-2">
                          <i class="fa-solid fa-envelope"></i>
                            <span class="text-base font-bold break-all ml-2">
                                <%= @user.email %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
  <h2 class="text-center mt-6">あなたが投稿したスポット一覧<h2>
    <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
  <div class="mt-10 mb-28"> 
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
   <div class="text-lg m-auto mt-20">投稿はありません</div>
    <% end %>
  </div>
</div>
</div>