<%= form_with model: @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='mt-10 mb-6 flex flex-col items-center'>
      <%= f.label :genre, "スポットのジャンル",class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.select :genre, Post.genres_i18n.invert.to_a, { include_blank: "未選択" },
                  class: "form-input #{'border-red-500' if f.object.errors[:genre].present?}  bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3 w-full lg:w-2/3" %>
    </div>
    
    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :location_name, class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.text_field :location_name, class: "form-input #{'border-red-500' if f.object.errors[:location_name].present?} bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block py-3 px-4 w-full lg:w-2/3", placeholder: 'スポットの名前を入力してください' %>
    </div>
    
    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :address, class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.text_field :address, class: "form-input #{'border-red-500' if f.object.errors[:address].present?}  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block py-3 px-4 w-full lg:w-2/3", placeholder: '住所を入力してください' %>
    </div>

    <div class='mb-6 flex flex-col items-center'>
      <div class="grid grid-cols-2 gap-2 w-full lg:w-2/3">
        <div class="flex flex-col w-1/2">
          <%= f.label :start_hour,  class: 'label mb-2' %>
          <%= f.select :start_hour, (0..23).to_a.map { |h| ["#{h}時", h] }, { include_blank: "選択してください" }, class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3' %>
        </div>

        <div class="flex flex-col w-1/2">
          <%= f.label :start_minute,  class: 'label mb-2' %>
          <%= f.select :start_minute, [['00分', 0], ["30分",30]], { include_blank: "選択してください" }, class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3' %>
        </div>

        <div class="flex flex-col w-1/2">
          <%= f.label :end_hour,  class: 'label mb-2' %>
          <%= f.select :end_hour, (0..23).to_a.map { |h| ["#{h}時", h] }, { include_blank: "選択してください" }, class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3' %>
        </div>

        <div class="flex flex-col w-1/2">
          <%= f.label :end_minute,  class: 'label mb-2' %>
          <%= f.select :end_minute, [["00分",0], ["30分",30]], { include_blank: "選択してください" }, class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3' %>
        </div>
      </div>
    </div>

    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :wifi,  class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.select :wifi, Post.wifis_i18n.invert.to_a, { include_blank: "未選択" },
                class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3 w-full lg:w-2/3' %>
    </div>

    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :electricity,  class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.select :electricity, Post.electricities_i18n.invert.to_a, { include_blank: "未選択" },
              class: 'bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3 w-full lg:w-2/3' %>
    </div>

    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :site_url, class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.text_field :site_url, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block py-3 px-4 w-full lg:w-2/3', placeholder: 'スポットの名前を入力してください' %>
    </div>
    
    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :description, class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.text_area :description, class: "form-input #{'border-red-500' if f.object.errors[:description].present?}  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block py-3 px-4 w-full lg:w-2/3", rows: 5, placeholder: 'サイトがあれば教えてください' %>
    </div>

    <div class='mb-6 flex flex-col items-center'>
      <%= f.label :quiet_level,  class: 'label w-full lg:w-2/3 mb-2' %>
      <%= f.select :quiet_level, Post.quiet_levels_i18n.invert.to_a, { include_blank: "未選択" },
              class: "form-input #{'border-red-500' if f.object.errors[:location_name].present?}  bg-card-body bg-base-100 rounded-md border border-accent py-2 px-3 w-full lg:w-2/3" %>
    </div>

    <div class='mb-6 flex flex-col items-center'>
    <%= f.label :post_image,  class: "mb-2  md:w-2/3" %>
    <%= f.file_field :post_image,
      class:"w-full text-gray-400 font-semibold text-sm bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-3 file:px-4 file:mr-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-gray-500 rounded md:w-2/3" %>
    <%= f.hidden_field :post_image_cache %>
        </div>

    <div class="mt-8 mb-20 text-center">
    <%= f.submit t('.submit'), class: "bg-button hover:bg-green-700 text-white rounded px-5 py-3 mr-3" %>
    </div>

  <% end %> 