<div class='container rounded-xl shadow-xl p-6 max-w-full md:max-w-3xl mx-auto my-10 border border-white bg-base-100'>
  <div class='md:w-1/2 mx-auto'>
    <p class="text-lg font-semibold text-center md:text-right"><%= @post.user.username %></p>
    <div class='mt-6 text-center'>
      <h2 class='text-base mb-2 font-medium'>
        <%= @post.genre_i18n %>
      </h2>
      <h1 class='text-2xl font-bold mb-6'>
        <%= @post.location_name %>
      </h1>
    </div>
  </div>
    <div class="w-full h-full md:w-1/3 grid place-items-center mb-5 md:mb-0 text-center">
      <% if @post.post_image.present? %>
        <%= image_tag @post.post_image.url, class: ' object-cover rounded-lg', alt: "サムネイル画像" %>
      <% else %>
        <%= image_tag('logo.png', class: 'rounded-lg object-cover', alt: 'デフォルトサムネイル画像') %>
      <% end %>
    </div>
    <div class="overflow-x-auto sm:overflow-visible">
    <table class="table-auto mx-auto  items-center  w-full table-fixed">
      <tbody>
        <tr>
          <td class="border px-2 py-2">住所</td>
          <td class="border px-2 py-2"><%= @post.address %></td>
        </tr>
        <tr>
          <td class="border px-2 py-2">営業時間</td>
          <td class="border px-2 py-2"><%= @post.business_hours %></td>
        </tr>
        <tr>
          <td class="border px-2 py-2">WIFI</td>
          <td class="border px-2 py-2">
            <% if @post.wifi.present? %>
              <%= @post.wifi_i18n %>
            <% else %>
              <p>情報がありません</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="border px-2 py-2">電源</td>
          <td class="border px-2 py-2">
            <% if @post.electricity.present? %>
              <%= @post.electricity_i18n %>
            <% else %>
              <p>情報がありません</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="border px-2 py-2">サイトURL</td>
          <td class="border px-2 py-2">
            <% if @post.site_url.present? %>
              <%= link_to @post.site_url, @post.site_url, target: '_blank',class: 'text-blue-500 underline break-words' %>
            <% else %>
              <p>情報がありません</p>
            <% end %>
          </td>
        </tr>
        <tr>
        <td class="border px-2 py-2">静かさレベル</td>
        <td class="border px-2 py-2"><%= @post.quiet_level_i18n %></td>
        </tr>
        <tr>
          <td class="border px-2 py-2">詳細コメント</td>
        <td class="border px-2 py-2"><%= @post.description %></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>