<main class="relative mt-20">
  <div class="relative  m-4 ">
    <%= form_with url: login_path do |f| %>
      <div class="bg-white max-w-xl w-full mx-auto shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-8 rounded-2xl">
        <div class="mb-12">
          <h3 class="text-gray-800 text-3xl font-bold text-center"><%= t('.title') %></h3>
        </div>

        <div class="mt-8">
          <%= f.label :email,class: "text-gray-800 text-xs block mb-2" %>
          <div class="relative flex items-center">
            <%= f.email_field :email, required: true, class: "w-full bg-transparent text-sm text-gray-800 border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none", placeholder: "Enter email" %>
          </div>
        </div>

        <div class="mt-8">
          <%= f.label :password, class: "text-gray-800 text-xs block mb-2" %>
          <div class="relative flex items-center">
            <%= f.password_field :password, required: true, class: "w-full bg-transparent text-sm text-gray-800 border-b border-gray-300 focus:border-blue-500 px-2 py-3 outline-none", placeholder: "Enter password" %>
          </div>
        </div>

        <div class="mt-8 text-center">
      <%= f.submit t('.login'), class: "bg-button hover:bg-green-700 text-white rounded px-5 py-3 mr-3" %>
       <p class="text-gray-800 text-sm mt-8 text-center">
        <%= link_to t('.to_register_page'),new_user_path , class: "text-blue-500 hover:underline ml-1" %>
      <p>
      </div>

    <% end %>
  </div>
</main>